<h1>About</h1>

<h4>Share you ideas with the world and find others.</h4>

<p>
  TECHRISE is an innovative Learning Platform combining 1-on-1 mentor training, project-based learning, and a friendly student community that will accelerate your path to becoming a web developer.
</p>

<p>
  Our mission at TECHRISE is to provide friendly and meaningful support for our students so that students can start coding to achieve their dreams. <strong>We believe that even though there are infinite amount of free online resources, it is still hard to learn web development when you are first starting out.</strong> <strong>We are here to teach and motivate students to become skilled web developers in a short amount of time by teaching not only the skills, but also the mentality of web developers with an innovative coding education platform</strong>.
</p>



