<div class="panel panel-default">
  <div class="panel-body">
    <blockquote>
      <p><%= idea.description %></p>
      <small>by <%= idea.user %></small>
    </blockquote> 
    
    <br>
    <div class="btn-group" role="group" aria-label="...">
      <%= link_to 'Delete', idea_path(idea), method: :delete, class: 'btn btn-danger btn-sm pull-left', data: {confirm: "Are you sure?"} %>
      <%= link_to 'Revise', edit_idea_path(idea), class: 'btn btn-success btn-sm pull-left' %>
    </div>
  </div>
</div>