<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">

      <div class="idea_form_container">
        <h2>Edit Idea</h2>

        <%= simple_form_for @idea, method: :patch do |f| %>
          <%= f.input :description, label: false, input_html: {rows: 4} %> 
          <%= f.submit 'Submit', class: 'btn btn-primary btn-post', data: {disable_with: "Posting..."} %>
        <% end %>
      </div>



  </div>
</div>

