<% if @idea %>
	<a class="btn btn-default btn-block" style = "font-size: 25px;font-weight:100; letter-spacing:8px;" href = "javascript:window.location.href=window.location.href">
	  Give me another idea
	</a>

	<br>

	<div class="panel panel-default">
	  <div class="panel-body">
			<h4><%= @idea.description %></h4>
			<h3 class = "pull-right">- <%= @idea.author %></h3>
			<br>
			<%= link_to 'Delete', idea_path(@idea), method: :delete, class: 'btn btn-danger btn-sm pull-left', data: {confirm: "Are you sure?"} %>
		</div>
	</div>

<% else %>

	<h4>No ideas have been shared. Add one <a href = "/">here</a></h4>

<% end %>