<% if @idea %>
	<a class="btn btn-primary btn-block" style = "font-size: 25px;font-weight:100; letter-spacing:8px;" href = "javascript:window.location.href=window.location.href">
	  Inspire Me
	</a>

	<br>

	<div class="panel panel-default">
	  <div class="panel-body">
			<h3><%= @idea.description %></h3>
			<h4 class = "pull-right">by <%= @idea.author %></h4>
			<br>
			<%= link_to 'Delete', idea_path(@idea), method: :delete, class: 'btn btn-sm pull-left', data: {confirm: "Are you sure?"} %>
		</div>
	</div>

<% else %>

	<h4>No ideas have been shared. Add one <a href = "/">here</a></h4>

<% end %>