<div class="footer text-center">
  <div class="container">
    <div class = "row">
      <div class = "col-xs-12 col-md-6">
        <h3>Contact</h3>
        <p>contact@techrise.me</p>
      </div>
      <div class = "col-xs-12 col-md-6">
        <h3>Find Us</h3>
        <div class="social-buttons">
          <a href = "#"><i class="fa fa-facebook-official social" ></i></a>
          <a href = "#"><i class="fa fa-twitter-square social" ></i></a>
          <a href = "#"><i class="fa fa-linkedin-square social" ></i></a>
        </div>
      </div>  
    </div>
  </div>
</div>