/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;  
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


.footer {
  /* Set the fixed height of the footer here */
  min-height: 120px;
  background-color: #333333;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  h3 {
    font-weight: 300;
    letter-spacing: 2px;
  }
}

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 10px;
  background: #2e2e2e;
  color: white;
}

body {
  font-weight: 200;
}

.navbar-brand {
  letter-spacing: 2px;
}

.btn-default {
  background-color: lightgray;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  font-weight: 100;
  font-size: 30px;
}

.btn {
  font-weight: 200;
}

.social-buttons {
  font-size: 40px;
}

.cta {
  margin-bottom: 30px;
}