$main-border-radius: 6px;
$main-background-color: #d9edf7;
$main-blue: #337ab7;

/* Sticky footer styles
-------------------------------------------------- */
html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;  
  background: #f5f8fa;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


.footer {
  /* Set the fixed height of the footer here */
  min-height: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: white;
  h3 {
    font-weight: 300;
    letter-spacing: 2px;
    color: $main-blue;
  }
}

.footer-bottom {
  padding-top: 10px;
  padding-bottom: 2px;
  background: #2e2e2e;
  color: white;
}

.navbar-default .navbar-brand {
  letter-spacing: 2px;
  color: $main-blue;
}

.navbar-default {
  background-color: white;
}

.navbar-default .navbar-brand {
  font-weight: 100;
  font-size: 30px;
}

.btn {
  font-weight: 200;
}

.social-buttons {
  font-size: 40px;
}

.cta {
  margin-bottom: 30px;
}

.idea_form_container {
  background: $main-background-color;
  position: relative;
  padding: 20px 10px 40px;
  margin-bottom: 20px;
  border-radius: $main-border-radius;
}

.user_forms {
  background: $main-background-color;
  padding: 40px;
  border-radius: $main-border-radius;
  h2 {
    font-weight: 200;
    margin-bottom: 20px;
    color: #666;
  }
}

.panel {
  position: relative;
}

.idea-btn-group {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.username {
  font-weight: 600;
}

.created_at {
  font-weight: 400;
  color: #777;
}

.list-group-item-header {
  height: 50px;
}

.option-dropdown {
  position: absolute;
  right: 10px;
  top: 10px;
}

.btn-top-modal {
  margin-top: 8px;
}

.btn-post {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
